.App {
  display: flex;
  flex-direction: column;
}

.App header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;

  border-bottom: 1px solid #e3e3e3;

  padding: 15px;
}

header input {
  width: 500px;
  height: 40px;
  border-radius: 4px;
  border: none;
  padding: 2px 10px;
  background: #f5f5f5;
  text-align: center;
}

aside {
  position: fixed;
  left: 0;
  top: 78px;
  width: 400px;
  height: 100%;

  border-right: 1px solid #e3e3e3;
}

aside ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 20px;
}

.container {
  margin-left: 400px;
  padding-left: 10px;
}

.first-page-container {
    padding: 45px;
    background-color: black;
    color: white;
}

.first-page-container h2 {
    font-size: 45px;
}

.first-page-container p {
    color: #666;
    font-weight: bold;
    font-size: 18px;
}

.first-page-container button {
    background: #00e88f;
    color: #111;
    font-weight: bold;

    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 20px; 
    transition: bottom .3s ease-out,background-color .3s ease;
}

.first-page-container button:hover {
    background: #4affb1;
}

.first-page-container .card {
    width: 30%;
    background-color: white;
    color: black;
}